*.DS_Store
*.ipynb_checkpoints/
*__pycache__/
OSLOM2/
gdc-client/
pgc/
midterms/
Enrichr/

.idea/
*/.idea
.ipynb_checkpoints/
*/cmake-build-debug/
*/CMakeFiles/
*/build
*.so

data_counts/
data_fpkm/
data_fpkmuq/
data_mining/master/
results/
DATA_MOUSE/
plot/

manifest.txt

*.o
*.out
*.pyc
*.png
*.xml
*.gz
corpus.*
*.csv
*.tsv
*.dat
*.pdf
*.jpg
*gct
*swp
*.xls*
*.txt
*.shuf
*.ok
*.sub
*.red
*.npy
*.txt
*.eps
*.svg
*.h5
*.jpeg
*.log
*.err
*.done

*hSBM\.ipynb

*sbmtm\.py

\.RData

\.Rhistory

output/

thesis/

hSBM/\.cache/fontconfig/
hSBM/\.python_history
hSBM/\.bash_history

Pipeline_out.ipynb
gdc-client

docker/core
docker/data_mining

*.RData
.xz
*.xz

*.maf
*.png
*.pdf
*.svg
*graph.xml.gz
*.zip
*.tar

*.pb
*.pkl

TCGAbiolinks/.rstudio/
TCGAbiolinks/TCGAbiolinksGUI/*

datasets/
!datasets/.dvc
jupyter-drive/
mouse_Atlas/tm
mouse_Atlas/mca/
datasets/cancers/breast_withmiRNA/data_mining
datasets/cancers/breast/data_mining
*.odp
*.pkl
*.gmt
*.afdesign
*.aftemplate
predictor/model/variables/*
*.tiff
meeting
.vscode/
