[submodule "TWO-NN"]
	path = TWO-NN
	url = https://github.com/fmottes/TWO-NN.git
[submodule "hSBM_Topicmodel"]
	path = hSBM_Topicmodel
	url = git@github.com:fvalle1/hSBM_Topicmodel.git
[submodule "hsbm-occam"]
	path = hsbm-occam
	url = git@gitlab.c3s.unito.it:filippo.valle/hsbm-occam.git
[submodule "Sanity"]
	path = Sanity
	url = git@github.com:jmbreda/Sanity.git
[submodule "mouse_Atlas/The_single_cell_transcriptome_as_a_component_system"]
	path = mouse_Atlas/The_single_cell_transcriptome_as_a_component_system
	url = git@github.com:SilviaLazzardi/The_single_cell_transcriptome_as_a_component_system
[submodule "tree_plotter"]
	path = tree_plotter
	url = git@github.com:fvalle1/tree_plotter.git
[submodule "datasets/cancers/LUAD_LUSC_TCGA_comparison"]
	path = datasets/cancers/LUAD_LUSC_TCGA_comparison
	url = git@github.com:ELELAB/LUAD_LUSC_TCGA_comparison.git
[submodule "openvino_tensorflow"]
	path = openvino_tensorflow
	url = git@github.com:fvalle1/openvino_tensorflow
[submodule "tacos"]
	path = tacos
	url = git@github.com:fvalle1/tacos
[submodule "LUAD_LUSC_TCGA_comparison"]
	path = LUAD_LUSC_TCGA_comparison
	url = git@github.com:ELELAB/LUAD_LUSC_TCGA_comparison.git
