[submodule "TWO-NN"]
	path = TWO-NN
	url = https://github.com/fmottes/TWO-NN.git
[submodule "hSBM_Topicmodel"]
	path = hSBM_Topicmodel
	url = git@github.com:fvalle1/hSBM_Topicmodel.git
[submodule "hsbm-occam"]
	path = hsbm-occam
	url = git@gitlab.c3s.unito.it:filippo.valle/hsbm-occam.git
[submodule "topics"]
	path = topics
	url = git@github.com:fvalle1/topics.git
[submodule "Sanity"]
	path = Sanity
	url = git@github.com:jmbreda/Sanity.git
