matplotlib
pandas
cairocffi
scanpy
pandarallel
regex
tensorflow
tensorflow_probability
watermark
gseapy
lifelines
seaborn
papermill
topicpy
sphinx
twine
dvc
dvc[gdrive]
rpy2
python-louvain
jgraph
plotly
kaleido
inflect
