gobject
matplotlib 
pandas 
jupyter 
cairocffi
scanpy
pandarallel 
regex 
tensorflow
tensorflow_probability
watermark 
gseapy
lifelines
plotly
seaborn
papermill
--extra-index https://test.pypi.org/simple
topicpy
sphinx
